<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.entrepreneurclub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".others.FirebaseNotificationsService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".Investor.Investor_Dashboard"
            android:label="@string/title_activity_investor__dashboard"></activity>
        <activity
            android:name=".Entrepreneur.entrepreneur_dashboard"
            android:label="@string/title_activity_entrepreneur_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.SettingsActivity" />
        <activity android:name=".Activity.OtherProfileActivity"/>
        <activity android:name=".Activity.ProfileActivity"/>

        <activity
            android:name=".Activity.StatusActivity"
            android:parentActivityName=".Activity.SettingsActivity" />
        <activity
            android:name=".Activity.UsersActivity"
            android:parentActivityName=".Entrepreneur.entrepreneur_dashboard" />
        <activity android:name=".Activity.ChatActivity"
            android:parentActivityName=".Entrepreneur.entrepreneur_dashboard"></activity>
        <activity android:name=".Activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>